
.table-active.table-active-success {
    --bs-table-accent-bg: rgb(var(--light-rgb));
    color: rgba(var(--success-rgb),.9)!important;
  }    
  .table-active.table-active-danger {
    --bs-table-accent-bg: rgb(var(--light-rgb));
    color: rgb(var(--danger-rgb))!important;
  }